
/* Add CSS classes to hide/show the elements based on screen size */
.navbar-hidden {
    display: none;
  }

  .sidebar-hidden {
    display: none;
  }

  .sidebar {
    position: absolute;
    background-color: #fff;
    color: white;
    padding: 1rem;
    width: 200px;
    height: 99vh;
    right: 0;
  }

  .logo {
    color: blueviolet;
  }

  /* Feature to only display link name on hover or when active */

  .link-text {
    display: none;
  }

  .sidebar li:hover .link-text,
  .sidebar li a.active-link .link-text {
    display: inline;
  }

  @media (max-width: 768px) {
    .navbar {
        background-color: #fff;
        color: white;
        padding: 1rem;
        text-align: center;
        display: flex;
        align-items: baseline;
      }

      .nav-links {
        display: flex;
        column-gap: 15px;
      }
      /* Hamburger icon styles */
.hamburger {
    cursor: pointer;
    font-size: 24px;
    color: #333;
    margin-right: 10px;
  }

  /* Mobile menu styles */
  .mobile-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .mobile-menu.active {
    display: block;
  }

  }


