
/* Add CSS classes to hide/show the elements based on screen size */
.navbar-hidden {
  display: none;
}

.sidebar-hidden {
  display: none;
}

.sidebar {
  position: fixed;
  color: white;
  width: 140px;
  height: 41vh;
  right: 0;
  top: 200px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar:hover {
  background-color: #fff;
  border-radius: 50px;
}

.my-logo {
  color: blueviolet;
  height: auto;
  text-align: center;
}

/* Feature to only display link name on hover or when active */

.link-text {
  display: none;
}

.sidebar li:hover .link-text,
.sidebar li a.active-link .link-text {
  display: inline;
}

.side-links {
  list-style: none;
  width: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-left: 40px;
}

@media (max-width: 768px) {
  .navbar {
    background-color: #f0f8ff;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    height: auto;
  }

  .nav-links {
    display: flex;
    column-gap: 15px;
  }
}

@media (max-width: 368px) {
  /* Hamburger icon styles */
  .hamburger {
    cursor: pointer;
    font-size: 24px;
    color: #333;
    margin-right: 10px;
  }

  /* Mobile menu styles */
  .mobile-menu {
    position: relative;
    top: 130%;
    left: -110px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f0f8ff;
  }
}
